select{
    width: 100%;
    height: 40px;
}
#submit{
    float: right;
    background-color: darkgreen;
}
.democlass{
    width:250px;
    height:100px;
    background-color:green;
    color:white;
    margin-left:750px;
    padding:20px
}