
input,label,select{
    margin-top: 10px;
    margin-left: 10px;
}

label{
    color: white;
}


h2{
    margin-top:20px;
    margin-left: 100px;
    text-align: center;
    background-color: rgb(240, 255, 80);
    border: 2px solid black;
    width: 70%;
    height: 50px;
    color:black;
}
.container{
    margin-left: 290px;
    border: 2px solid black;
    width:50% ;
    background-color: rgb(14, 74, 111); 
}
button{
    margin: 10px 0px;
    margin-left: 250px;
    background-color: rgb(240, 255, 80);
    color:black;
    width: 30%;
    height: 50px;
}