<mat-nav-list>
    <div class="logo py-4">
        <img src="https://i.pinimg.com/736x/79/5c/af/795caf79bd23835f75e46c3efaf1656f.jpg" alt="logo">
    </div>
    <mat-divider></mat-divider>
  
        <!-- <h1 matSubheader class="mt-2">DATABASE</h1> -->
        <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
            <mat-icon>dashboard</mat-icon>Dashboard
      </a>
        <a mat-list-item routerLink="/holiday" routerLinkActive="list-item-active">
              <mat-icon>taskassign</mat-icon>Holiday
        </a>
        <a mat-list-item routerLink="/studentdetails" routerLinkActive="list-item-active">
            <mat-icon>class</mat-icon>Student
        </a>
        <a mat-list-item routerLink="/timetable" routerLinkActive="list-item-active">
            <mat-icon>view_list</mat-icon>Timetable
      </a>

</mat-nav-list>

<!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Enable body scrolling</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>Try scrolling the rest of the page to see this option in action.</p>
  </div>
</div> -->