<mat-nav-list>
    <div class="logo py-4">
        <img src="https://i.pinimg.com/736x/79/5c/af/795caf79bd23835f75e46c3efaf1656f.jpg" alt="logo">
    </div>
    <mat-divider></mat-divider>
  
        <!-- <h1 matSubheader class="mt-2">DATABASE</h1> -->
        <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
            <mat-icon>dashboard</mat-icon>Dashboard
      </a>
        <a mat-list-item routerLink="/holiday" routerLinkActive="list-item-active">
              <mat-icon>taskassign</mat-icon>Holiday
        </a>
        <a mat-list-item routerLink="/studentdetails" routerLinkActive="list-item-active">
            <mat-icon>class</mat-icon>Student
        </a>
        <a mat-list-item routerLink="/timetable" routerLinkActive="list-item-active">
            <mat-icon>view_list</mat-icon>Timetable
      </a>
      <a mat-list-item routerLink="/reference" routerLinkActive="list-item-active">
        <mat-icon>book</mat-icon>Reference
  </a>

</mat-nav-list>

