<mat-nav-list>
<div class="logo py-4">
    <img src="https://i.pinimg.com/736x/79/5c/af/795caf79bd23835f75e46c3efaf1656f.jpg" alt="logo">
  </div>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
    <mat-icon>dashboard</mat-icon>Dashboard
  </a>
  <a mat-list-item routerLink="/holiday" routerLinkActive="list-item-active">
    <mat-icon>taskassign</mat-icon>Holiday
  </a>
  <a mat-list-item routerLink="/studentdetails" routerLinkActive="list-item-active">
    <mat-icon>class</mat-icon>Student
  </a>
  <a mat-list-item routerLink="/reference" routerLinkActive="list-item-active">
    <mat-icon>book</mat-icon>Reference
  </a>
  <a mat-list-item routerLink="/table" routerLinkActive="list-item-active">
    <mat-icon>book</mat-icon>TimeTable
  </a>

  <a mat-list-item routerLink="/user" routerLinkActive="list-item-active"(click)="logout()" >
    <mat-icon>logout</mat-icon>Logout
  </a>

  <div class="header">

  </div>
</mat-nav-list>  


<!-- <mat-toolbar>
  <mat-toolbar-row class="justify-content-between">
    <button mat-icon-button><mat-icon>Menu</mat-icon></button>
    <div>
      
    </div>
  </mat-toolbar-row>
</mat-toolbar> -->

<!-- <div class="sidebar  d-flex flex-column justify-content-between">

  <nav class="navbar bg-custom navbar-dark">

  <div class="user-profile"> -->

<!-- <img src="./assets/Images/profile_.png" class="profile-img mb-2" alt=""> -->


<!-- <div class="navbar-nav w-100">
        <a [routerLink]="['/dashboard']" class="nav-item nav-link" routerLinkActive="active"><i></i> Home</a> -->


<!-- <a [routerLink]="['/tac/myProfile']" class="nav-item nav-link" routerLinkActive="active"><i
          class='fa fa-user-circle'></i> Profile</a>
<a [routerLink]="['/tac/dashboard']" class="nav-item nav-link" routerLinkActive="active"><i
          class="fa fa-info-circle"></i> Dashboard</a>
      <a [routerLink]="['/tac/managepool']" class="nav-item nav-link" routerLinkActive="active"><i
          class="fa fa-user-tie"></i> Manage Pool</a>
    <a [routerLink]="['/tac/create-invite']" class="nav-item nav-link" routerLinkActive="active"><i
          class="fa fa-calendar-week"></i> Create Invite</a>

      </div>
      <footer class="navbar navbar-light ">
        <div class="navbar-nav w-100">
          <a (click)="logout()" [routerLink]="['']" class="nav-item nav-link mb-3"><i
              class="fa fa-solid fa-right-from-bracket"></i> Logout</a>
        </div>
      </footer>
  </nav>
   </div> --> 