<h2>Holiday</h2>
<div class="card-product">
    <table class="table table-striped">
        <thead>
            <th>DATE</th>
            <th>REASON</th>
        </thead>

        <tbody>
            <tr *ngFor="let i of userList">
                <td>{{i.date.slice(0,10)}}</td>
                <td>{{i.descrip}}</td>

                <td>
                    <button class="btn btn-info" [hidden]="rolePlay==='false'"
                        [routerLink]="['/holiday-add',i._id]">Edit</button>
                    <button class="btn btn-danger mx-3" [hidden]="rolePlay==='false'"
                        (click)="delete(i._id)">Remove</button>
                </td>

            </tr>
        </tbody>
    </table>


</div>
<div>
    <button [routerLink]="['/updateHoliday']" [hidden]="rolePlay==='false'" class="back btn btn-success">Add New</button>
    <button class="back btn btn-secondary" (click)="back()">Back</button>
</div>


<p *ngIf="roleName=='admin'">