<div class="container mt-1">
    <h2>Holiday</h2>
    <table class="table"> 
            <thead>
                <th>S.No</th>
                <th>Date</th>
                <th>Reason</th>
            </thead>
            <tbody>
                <tr *ngFor="let i of userList">
                    <td>{{i._id}}</td>
                    <td>{{i.date}}</td>
                    <td>{{i.descrip}}</td>
                   
                        <td>
                            <button [hidden]="rolePlay==='false'" class="btn btn-info" [routerLink]="['/holiday-add',i._id]" >Edit</button>
                            <button [hidden]="rolePlay==='false'" class="btn btn-danger mx-3" (click)="delete(i._id)">Remove</button>
                        </td>
                </tr>  
            </tbody>      
    </table>

    <button [hidden]="rolePlay==='false'" [routerLink]="['/updateHoliday']" class="add">Add New</button>
</div>

<p *ngIf="roleName=='admin'">
   