h2{
    font-size: 50px;
    background:rgb(14, 74, 111);
    text-align: center;
    color: white;
    padding: 20px;

}
.card-product{
    margin: 10px;
    padding:20px;
    margin-left: 350px;
    width:50% ;
    margin-top: 100px;
    background-color: rgb(14, 74, 111);

}
.back{
    float: right;
    margin-right: 440px;
    width: 100px;
}
th {
    font-size: 20px;
        color:white
    }

    td{
            width: 10px;
            resize: none;
            color: white;
        }

    table,th,tr,td {
            text-align: center;
        }

