.container{
    padding: 30px;
    margin-top: 80px;
    // margin-bottom: 80px;
    // border: none !important;
    background-color: #293b64;
}
div{

    margin-top:20px;
    // margin-left:50px;
}
input,select{
    width: 90%;
    height:50px;  
    
}
label{
    color: yellow;
    font-size: large;
}
// select{
//     width: 98%;
//     height: 50px;
//     // margin-left: 15px;
// }
button{
    background-color: white;
    width: 25%;
    color: #000;
    margin-left: 150px;
}