.container {
    padding: 30px;
    width: 40%;
    background-image: linear-gradient(to right, rgb(47, 132, 178), rgb(124, 134, 254));
    background-position: center;
    background-size: cover;
    border: 1px solid white;
}

.outer {
    padding-top: 10%;
    height: 100vh;
    background: url('https://st2.depositphotos.com/1010652/10744/v/950/depositphotos_107447708-stock-illustration-back-to-school-background.jpg');
}

a {
    color: white
}

input,
select {
    padding: 10px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

label {
    padding: 10px;
    color: rgb(232, 232, 232);
    font-size: large;
}

button {
    background-color: rgb(246, 246, 246);
    width: 30%;
    color: #000;
    margin-left: 180px;
    height: 50px;
    border-radius: 20px;
}