
<h1>Student Register Details</h1>

<div class="card-product">
    <table class="table table-striped">
  
        <thead>
            <th>NAME</th>
            <th>REGISTER NUMBER</th>
            <th>GENDER</th>
            <th>EMAIL</th>
            <th>MOBILE NUMBER</th>
        </thead>

        <tbody>
            <tr *ngFor="let i of user3">
                <td>{{i.username}}</td>
                <td>{{i.regNum}}</td>
                <td>{{i.gender}}</td>
                <td>{{i.email}}</td>
                <td>{{i.phone}}</td>

                <td>
                    <button [hidden]= "rolePlay==='false'" class="btn btn-danger mx-3" (click)="delete(i._id)">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<button class="back btn btn-secondary" (click)="back()">Back</button>

<p *ngIf="roleName=='admin'"></p>
