// .container{
//     height: 700px;
//     width:900px;
//     min-height: 100;

// }
// table,th,tr,td {
//     margin: 80px;
//     text-align: center;
//     border: 3px solid black;
// }
// // td{
// //     width: 20px;
// //     resize: none;
// // }
// th {
//     font-size: large;
// }
// h1{
//     margin-right: 40px;
// }

.card-product{
    border: 2px solid black;
    // margin: 10px;
    // margin: 10px;
    // padding:20px;
    margin-left: 320px;
    width:60% ;
    margin-top: 40px;
    background-color: rgb(14, 74, 111);
}
.back{
    margin-top: 20px;
    float: right;
    margin-right: 240px;
    width: 100px;
    height: 60px;
}
th {
        font-size: 18px;
        color: whitesmoke;
    }

    table,th,tr,td {
            text-align: center;
           
        }
        tr{
            color: white;
        }

    h1{
        // margin-left: 600px;
        padding: 30px;
        font-size: 50px;
        text-align: center;
        background:rgb(14, 74, 111);
        color:white
    }