// .container{
//     height: 700px;
//     width:900px;
//     min-height: 100;

// }
// table,th,tr,td {
//     margin: 80px;
//     text-align: center;
//     border: 3px solid black;
// }
// // td{
// //     width: 20px;
// //     resize: none;
// // }
// th {
//     font-size: large;
// }
// h1{
//     margin-right: 40px;
// }

.card-product{
    border: 2px solid black;
    margin: 10px;
}
.back{
    float: right;
    margin-right: 70px;
    width: 100px;
    height: 60px;
}
th {
    // width: px;
        font-size: large;
    }

    // td{
    //         width: 20px;
    //         resize: none;
    //     }

    table,th,tr,td {
            text-align: center;
           
        }

    h1{
        margin-left: 600px;
        padding: 40px;
    }